<nav class="tf-navbar">
    <section class="icon">
        <i class="fa fa-users"></i>
    </section>
    <section class="title">
        <h4 ng-if="searchText==''">لیست مخاظبین</h4>
        <h4 ng-if="searchText!=''">جست‌وجوی {{searchText}}...</h4>
    </section>
    <section class="icon button" ng-show="searchText=='' && selectedGroup" ng-click="searchbar =! searchbar">
        <i class="fa fa-search"></i>
    </section>
    <section class="icon button" ng-show="searchText!='' && selectedGroup" ng-click="search('')">
        <i class="fa fa-close"></i>
    </section>
    <section class="icon button" ng-show="searchText==''" ng-click="sidebar = true">
        <i class="fa fa-navicon"></i>
    </section>
</nav>
<tf-searchbar open="searchbar" search="search($text)" placeholder="جست‌وجو..."></tf-searchbar>
<tf-sidebar open="sidebar" direction="left">
    <div class="profile">
        <i class="fa fa-user"></i><br>
        <h5> {{ username.substr(0,1).toUpperCase() + username.substr(1) }} </h5>
    </div>
    <h5 class="title-sidebar">گروه‌ها:</h5>
    <ul class="list-group">
        <li class="list-group-item pointer" ng-repeat="group in groups" tf-go="/group-contacts/{{group.id}}" ng-class="{active: group.id == selectedGroup.id}">
            <i class="fa fa-users"></i> {{group.name}}
        </li>
    </ul>
    <h5 class="title-sidebar">عملیات:</h5>
    <ul class="list-group">
        <li class="list-group-item pointer" tf-go="/settings">
            <i class="fa fa-cog fa-spin"></i> تنظیمات
        </li>
    </ul>
</tf-sidebar>

<div class="tf-container" tf-scroll tf-scroll-down="bars=false" tf-scroll-up="bars=true">
    <ul class="list-group block pointer contacts" ng-show="displayContacts.length > 0">
        <li class="list-group-item" ng-repeat="contact in displayContacts" ng-click="bottomSheet(contact)">
            <i class="fa fa-user"></i> {{contact.name}}
            <span class="badge" ng-show="contact.vip == 1"> <i class="fa fa-star"></i> </span>
        </li>
    </ul>
    <p class="vertical-padding horizontal-padding" ng-show="selectedGroup && displayContacts.length == 0"> <i class="fa fa-warning"></i> هیچ کاربری موجود نیست. </p>
    <p class="vertical-padding horizontal-padding" ng-show="!selectedGroup"> <i class="fa fa-warning"></i> یکی از گروه‌ها را انتخاب کنید! </p>
</div>

<tf-floating-btn tf-go="/contacts/new" ng-show="bars">
    <i class="fa fa-user-plus"></i>
</tf-floating-btn>

<tf-bottom-sheet open="_bottomSheet" label="{{hovered.name}}">
    <ul class="list-group block">
        <li class="list-group-item" tf-go="/contacts/{{hovered.id}}">
            <i class="fa fa-edit"></i> ویرایش مخاطب
        </li>
        <li class="list-group-item" ng-click="deleteContact(hovered)">
            <i class="fa fa-trash"></i> حذف مخاطب
        </li>

        <li class="list-group-item" ng-repeat="number in hovered.details" ng-click="makeCall(number.value)" ng-show="number.type == 'mobile' || number.type == 'phone'" ng-if="extension">
            <i class="fa fa-phone"></i> تماس با: <b>{{ number.value }}</b>
        </li>
        <li class="list-group-item" ng-repeat="number in hovered.details" ng-click="addToConferance(number.value)" ng-show="number.type == 'mobile' || number.type == 'phone'" ng-if="extension" ng-class="{active: conferances.indexOf(number.value) !== -1}">
            <i class="fa fa-group"></i> اضافه کردن به کنفرانس: <b>{{ number.value }}</b>
        </li>
    </ul>
</tf-bottom-sheet>